* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  overflow-x: hidden;
  min-width: 320px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;

  overflow-x: hidden;
}

p {
  margin-bottom: 0rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0rem;
  margin-bottom: 0px;
}
.container_all {
  margin: 0 auto;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
img {
  max-width: 100%;
  height: auto;
}
/* header */
.header {
  background-color: #2d2d2d;
}
.navbar {
  width: 100%;
  box-shadow: 0 4px 10px;
  display: flex;
  min-height: 60px;
}
.navbar-brand:hover {
  transform: scale(1.2);
}
.navbar .container {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: baseline;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: #f3f3f3;
}
.navbar-brand:hover {
  color: #f3f3f3;
}
.navbar li a {
  display: inline-block;
  color: #f3f3f3;
  font-size: 18px;
  padding: 10px;
}
.navbar li a:hover {
  color: rgb(18, 207, 124);
}
.callback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: coral;
  border-radius: 10px;
  color: #f3f3f3;
}
.callback:hover {
  background-color: #f3f3f3;
  color: black;
}
.navbar-wrap {
  position: relative;
}
.navbar-menu li {
  position: relative;
}
.navbar-menu li ul {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  background-color: #2d2d2d;
  display: none;
}
.white_right_arrow {
  height: 20px;
}
.navbar-menu li ul li {
  display: block;
}
.navbar-menu li:hover > ul {
  display: initial;
}
.navbar-menu li ul li ul {
  position: absolute;
  left: 200px;
  top: 0;
  display: none;
}
.navbar-menu li ul li ul:hover {
  display: block;
}
.phone {
  display: flex;
  gap: 20px;
}

/* Форма регистрации */
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
}
.registration img {
  height: 40px;
}
.registration_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(18, 207, 124);
  color: #f3f3f3;
}
.registration_form:hover {
  background-color: #f3f3f3;
  color: #2d2d2d;
}
.brand {
  color: rgb(18, 207, 124);
}
.slogan h1 > span {
  color: rgb(18, 207, 124);
}
.slogan {
  text-align: center;
  margin-top: 30px;
}
.contacts {
  display: flex;
  align-items: center;
  color: #f3f3f3;
  font-size: 18px;
  gap: 5px;
}
.contacts img {
  width: 30px;
}
.contacts a {
  color: #f3f3f3;
}
.contacts a:hover {
  color: rgb(18, 207, 124);
}
/* Слайддер наши клиенты */
.multiple-items img {
  padding-top: 15px;
  max-height: 100px;
  margin: 0 auto;
}

.single-item {
  display: flex;
  flex-grow: 1;
  height: 150px;
}
h1[name="zagolovki"] {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}
/* footer */
footer {
  background-color: #2d2d2d;
  padding-top: 54px;
  margin-top: 50px;
  color: #f3f3f3;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.left_footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.center_footer_up {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.center_footer_down {
  display: flex;
  flex-wrap: nowrap;
}
.center_footer_up a {
  display: inline-block;
  color: #f3f3f3;
  font-size: 18px;
}
.center_footer_up a:hover {
  color: rgb(18, 207, 124);
}
.center_footer_down ul {
  margin-top: 40px;
}
.center_footer_down ul li {
  margin-top: 10px;
}
.right_footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
img[name="mobile"] {
  height: 40px;
}
a[name="mobile"] {
  color: #f3f3f3;
}
a[name="mobile"] :hover {
  color: rgb(18, 207, 124);
}
.right_footer a {
  color: #f3f3f3;
  border-radius: 25px;
  padding-left: 15px;
}

a[name="vk"] {
  background-color: rgb(25, 118, 210);
}
a[name="tg"] {
  background-color: rgb(41, 182, 246);
}
a[name="inst"] {
  background-color: rgb(245, 0, 87);
}
a[name="gmail"] {
  background-color: rgb(18, 207, 124);
}
/* Кнопка рассчитать стоимость */
.calc {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.calc a {
  font-size: 30px;
  color: black;
}
.calc a:hover {
  color: rgb(18, 207, 124);
}
#calculate_form {
  width: 400px;
  background-color: rgb(18, 207, 124);
  text-align: center;
  padding: 17px 33px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
#calculate_form:hover {
  background-color: #f3f3f3;
  border: 1px solid black;
  color: rgb(18, 207, 124);
}
