/* Услуги */
.services {
  margin-top: 30px;
  position: relative;
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 467px;
}
.services_text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.services_text p:first-child {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.3px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}
.services_button {
  margin-top: 50px;
  width: 50%;
}
.services_text p {
  font-size: 18px;
  font-weight: 600;
}
.services_button a {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #f3f3f3;
  background-color: rgb(18, 207, 124);
  font-size: 18px;
  justify-content: center;
  border-radius: 30px;
  border: rgb(18, 207, 124) solid 1px;
}
.services_button a:hover {
  background-color: #f3f3f3;
  color: rgb(18, 207, 124);
}
.serices_box {
  margin-top: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 207, 124);
}
.services_flex {
  display: flex;
  justify-content: space-between;
}
.serices_box ul li {
  font-size: 18px;
  color: #f3f3f3;
  font-weight: 500;
}

.serices_box ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top_block_services_box_ul {
  text-align: center;
  background-color: rgb(25, 155, 99);
  height: 60px;
}

.top_block_services_box_ul li a {
  padding: 19px 0 17px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #f3f3f3;
}

.down_block_services_box_ul {
  padding: 22px 26px 13px;
}
.down_block_services_box_ul span {
  vertical-align: middle;
}
.down_block_services_box_ul span {
  padding-right: 15px;
}
.down_block_services_box_ul a {
  color: #f3f3f3;
}
.down_block_services_box_ul a:hover {
  color: yellow;
}
.dezinfection {
  height: 40px;
  margin-right: 15px;
}
.multiple-items img {
  padding-top: 15px;
  max-height: 100px;
  margin: 0 auto;
}

.single-item {
  display: flex;
  flex-grow: 1;
  height: 150px;
}
h1[name="zagolovki"] {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

/*Сетка */
.setka {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.setka_block {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 10px;
  margin-top: 15px;
  color: #f3f3f3;
  background-color: rgb(18, 207, 124);
}
.setka_block p {
  padding-left: 20px;
}
.setka_block img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.setka_block h1 {
  text-align: center;
  font-weight: 700;
}
/*Кнопки навигации */

.nav_buttons {
  display: flex;
  background-color: rgb(18, 207, 124);
  color: #f3f3f3;
}
.nav_buttons_block {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.nav_buttons_block:hover {
  background-color: rgb(25, 150, 80);
}
.nav_buttons {
  display: flex;
  background-color: rgb(18, 207, 124);
  color: #f3f3f3;
}
.nav_buttons_block {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.nav_buttons_block:hover {
  background-color: rgb(25, 150, 80);
}
/*Фоны */
.ofice {
  background: url(../img/ofis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.ofice_block {
  display: flex;
  justify-content: flex-end;
}
.kartinki_block {
  max-width: 390px;
  width: 100%;
  padding: 39px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f3f3f3;
  margin: 50px 92px 50px 0;
}
.after_repair {
  display: none;
  background: url(../img/after_repair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.repair_block {
  display: flex;
  justify-content: flex-end;
}
.chemical {
  display: none;
  background: url(../img/chemical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.chemical_block {
  display: flex;
  justify-content: flex-end;
}
.window_clean {
  display: none;
  background: url(../img/window_clean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.window_block {
  display: flex;
  justify-content: flex-end;
}
/*Контент */
.kartinki_block h2 {
  text-align: left;
  font-weight: 700;
}
.kartinki_block li {
  list-style-type: disc;
  color: #2d2d2d;
  font-size: 18px;
  margin-bottom: 10px;
}
.zakaz-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(18, 207, 124);
  color: #f3f3f3;
  border: solid rgb(18, 207, 124) 1px;
}
.zakaz-btn:hover {
  background-color: white;
  color: #2d2d2d;
}
/*Сотрудники */
.staff {
  display: flex;
  flex-direction: column;
}
.staff p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}
.staff_faces {
  margin: 0 auto;
  display: flex;

  gap: 40px;
}
.staff_facec_circle {
  position: relative;
  border-radius: 100%;
  border: solid rgb(18, 207, 124) 5px;
  margin-top: 20px;
}
.staff_facec_circle img {
  height: 250px;
  width: 268px;
  border-radius: 100%;
}
.mark {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/star.png) no-repeat 0 0;
  width: 38px;
  height: 36px;
  font-size: 14px;
  vertical-align: middle;
}
.charact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul[name="staff"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
/*Вопросы и ответы */
.q_a_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.answer-block {
  background-color: rgb(18, 207, 124);
  opacity: 0.8;
}
.answer-block:hover {
  opacity: 1;
}
.question {
  display: flex;
  color: whitesmoke;
  padding: 16px 71px 21px 32px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
}
.question img {
  width: 29px;
  height: 29px;
  display: block;
}
img[alt="up_arrow"] {
  display: none;
}
.answer {
  display: none;
  padding: 15px 0 22px 31px;
  background-color: #f5f5f5;
  font-size: 23px;
  font-weight: 500;
  border-left: 4px solid #edc71c;
}
.answer-block.active {
  background-color: #edc71c;
  opacity: 1;
}
.answer-block.active .question img[alt="down_arrow"] {
  display: none;
}
.answer-block.active .question img[alt="up_arrow"] {
  display: block;
}
.active {
  display: block;
}
