.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  overflow-x: auto; /* Добавлено свойство overflow-x */
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory; /* Добавлено свойство scroll-snap-type */
}

.slider img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  scroll-snap-align: start; /* Добавлено свойство scroll-snap-align */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
